POSTGRES_DB=starscout
POSTGRES_USER=starscout
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
MONGO_PORT=27017
API_PORT=8000
STARSCOUT_DATABASE_URL=postgresql://starscout:change-me@postgres:5432/starscout
STARSCOUT_MONGODB_URL=mongodb://mongo:27017
STARSCOUT_MONGODB_DATABASE=fake_stars
STARSCOUT_ANALYZED_THROUGH=2025-01-01
STARSCOUT_GITHUB_TOKEN=
STARSCOUT_GITHUB_REPO_CACHE_TTL_SECONDS=3600
STARSCOUT_REPO_INTEGRITY_RATE_LIMIT_PER_MINUTE=60
STARSCOUT_CORS_ALLOW_ORIGIN_REGEX=^(https://github\.com|chrome-extension://.+|moz-extension://.+)
STARSCOUT_API_CACHE_MAX_AGE_SECONDS=300
STARSCOUT_ENABLE_DOCS=false
STARSCOUT_LOG_LEVEL=info
