STARSCOUT_APP_NAME="StarScout API"
STARSCOUT_APP_VERSION="0.1.0"
STARSCOUT_ENABLE_DOCS=true
STARSCOUT_DATABASE_URL="postgresql://starscout:starscout_dev_password@localhost:5432/starscout"
STARSCOUT_MONGODB_URL="mongodb://localhost:27017"
STARSCOUT_MONGODB_DATABASE="fake_stars"
STARSCOUT_ANALYZED_THROUGH="2025-01-01"
STARSCOUT_GITHUB_TOKEN=""
STARSCOUT_GITHUB_REPO_CACHE_TTL_SECONDS=3600
STARSCOUT_REPO_INTEGRITY_RATE_LIMIT_PER_MINUTE=60
STARSCOUT_CORS_ALLOW_ORIGIN_REGEX="^(https://github\\.com|http://localhost(:\\d+)?|http://127\\.0\\.0\\.1(:\\d+)?|chrome-extension://.+|moz-extension://.+)$"
STARSCOUT_API_CACHE_MAX_AGE_SECONDS=300
